@import "reset";

/* Start variables and mixins */
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);
@mixin font_med {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
@mixin font_bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
/* End variables and mixins */

body {
  align-items: center;
  background-color: $lightGrayishBlue;
  display: flex;
  font-size: 13px;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.card {
  border-radius: 8px;
  display: flex;
  height: 260px;
  width: 48%;
  &__image {
    background-image: url("../images/drawers.jpg");
    background-size: cover;
    border-radius: 8px 0 0 8px;
    height: 100%;
    width: 38%;
  }
  &__content {
    background-color: hsl(255, 100%, 100%);
    border-radius: 0 8px 8px 0;
    padding: 30px 35px 0;
    width: 62%;
    &--title {
      @include font_bold;
      color: $veryDarkGrayishBlue;
      font-size: 1.2rem;
      line-height: 1.75rem;
      margin-bottom: 10px;
      width: 90%;
    }
    &--copy {
      @include font_med;
      color: $desaturatedDarkBlue;
      line-height: 1.25rem;
    }
  }
}
