@import "reset";

/* Start variables and mixins */
$veryDarkGrayishBlue: hsl(217, 19%, 35%);
$desaturatedDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);
@mixin font_med {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}
@mixin font_bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}
/* End variables and mixins */

body {
  align-items: center;
  background-color: $lightGrayishBlue;
  display: flex;
  font-size: 13px;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.card {
  border-radius: 8px;
  border: 1px solid blue;
  height: 250px;
  width: 48%;
  &__image {
    background-image: url("../images/drawers.jpg");
    background-size: cover;
    border-radius: 8px 0 0 8px;
    height: 100%;
    width: 40%;
  }
}
